<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-shop SuperShop</title>
    <link rel="stylesheet" href="../static/styles/styleIndex.css" type="text/css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="header__icon">
                <img src="">
            </div>
            <div class="header__text">
                <h1>E-SHOP</h1>
            </div>
            <div class="header__links">
                <a href="https://www.instagram.com/">Instagram</a>
            </div>
        </div>
        <div class="content">
            <div class="content__navbar">
                <h2>Navigation</h2>
            </div>
            <div class="content__main">
                <h2>Content</h2>
                <!-- logic part -->
            </div>
        </div>
        <div class="footer">
            <div class="footer__contactInfo">
                <span>phoneNumber</span>
                <span>E-mail</span>
                <span>Facebook</span>
            </div>
        </div>
    </div>
</body>
</html>